.calculator {
  max-width: 200px;
  margin: 0 auto;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

.buttons button:last-child {
  grid-column: span 4;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  background-color: #4caf50;
  color: white;
}

.buttons button:last-child:hover {
  background-color: #45a049;
}

.buttons button:nth-child(4n) {
  background-color: #f44336;
  color: white;
}

.buttons button:nth-child(4n):hover {
  background-color: #da251d;
}
